<div class="container">
    <div class="row">
        <div class="select_div">
            <label>学年学期：</label>
            <select name="term"  required>
                <option>第一学期</option>
                <option>第二学期</option>
            </select>
        </div>
        <div class="select_div">
            <label>课程名：</label>
            <select name="course"  required>
                <option>物理</option>
                <option>电子</option>
            </select>
        </div>
        <div class="select_div">
            <label>专业：</label>
            <select name="major"  required>
                <option>物理</option>
                <option>电子</option>
            </select>
        </div>
   <!--row     -->
    </div>
    <!--container-->
</div>