* { 
    margin: 0; 
    padding: 0; 
}
.line-wrapper { 
    width: 100%; 
    height: 144px; 
    overflow: hidden; 
    font-size: 28px; 
    border-bottom: 1px solid #aaa; 
}
.line-scroll-wrapper { 
    /*white-space  nowrap不自动换行 */
    white-space: nowrap; 
    height: 144px; 
    clear: both; 
}
.line-btn-delete {  
    width: 132px; 
    height: 144px;     
    display: inline-block; 
}

.line-btn-delete button { 
    width: 100%; 
    height: 100%;
    float:left;
    background: red;
    border: none; 
    font-size: 24px; 
    font-family: 'Microsoft Yahei'; 
    color: #fff; 
}

.line-normal-wrapper { 
    float:left; 
    width:100%; 
    clear: both; 
    height: 144px; 


}




.line-normal-info-wrapper { 
    float: left; 
    margin-left: 10px; 
}

.line-normal-info-wrapper >div{
    height: 28px; 
    line-height: 28px; 
}

.line-normal-user-name { 
    color: #4e4e4e;
    margin-top: 7px; 
}
.line-normal-msg { 
    overflow:hidden; 
    text-overflow:ellipsis; 
    color: #4e4e4e; 
    margin-top: 11px; 
}
.line-normal-time { 
    color: #999; 
    margin-top: 11px; 
}

