/*
layout-topbar顶部导航栏
.topbar-menu 导航栏右侧



*/





li{
    list-style: none;
}

#layout-topbar {
    background-color: #222222;
    box-sizing: border-box;
    display: block;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#layout-topbar .menu-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .3s;
}

#layout-topbar .menu-button:hover {
    background-color: #4a4f52;
}
    

#layout-topbar .menu-button i {
    line-height: inherit;
}

#layout-topbar .logo {
    margin-left: 45px;
    margin-top: 15px;
    display: inline-block;
    color:#fff;
    font-size: 2em;
}

#layout-topbar .logo img {
    height: 42px;
}




.topbar-menu {
    display: inline-block;
    list-style-type: none;
    float: right;
    margin: 0 60px 0 0;
    padding: 0;
    height: 100%;
}

.topbar-menu > li {
    display: inline-block;
    height: 100%;
}

.topbar-menu > li > a {
    text-decoration: none;
    color: #ffffff;
    transition: background-color .3s;
    min-width: 120px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    line-height: 70px;
}

.topbar-menu > li > a:hover {
    background-color: #4a4f52;
}

.topbar-menu > li > ul {
    display: none;
}

.topbar-menu > li.topbar-menu-themes {
    position: relative;
}

.topbar-menu > li.topbar-menu-themes > ul {
    position: absolute;
    top: 65px;
    left: -50px;
    width: 200px;
    max-height: 300px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    overflow: auto;
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    border-radius: 3px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: .5s;
}

.topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
    padding: 6px 12px;
    font-weight: bold;
    text-align: left;
    background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
    color: #ffffff;
}

.topbar-menu > li.topbar-menu-themes > ul a {
    text-decoration: none;
    color: #404C51;
    padding: 6px 12px;
    display: block;
    transition: all 0.5s ease;
}

.topbar-menu > li.topbar-menu-themes > ul a:hover {
    background-color: #eeeeee;
}

.topbar-menu > li.topbar-menu-themes > ul a img {
    width: 32px;
    vertical-align: middle;
}

.topbar-menu > li.topbar-menu-themes > ul a .ui-text {
    vertical-align: middle;
    margin-left: 8px;
}

.topbar-menu > li.topbar-menu-themes:hover > ul {
    display: block;
}


    #layout-sidebar {
        top: 100px;
        left: -300px;
        transition: left .3s;  
        z-index: 999998;
    }
    
    #layout-sidebar.active {
        left: 0;
    }

/* Sidebar */
/*固定左侧栏*/
#layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
    background-color: #EEEEEE;   /*控制左侧栏背景颜色*/
    overflow: hidden;
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#layout-sidebar .layout-menu > a {
    width: 100%;
    display: block;
    padding: 6px 6px 3px 5px;
    cursor: pointer;
    border-top: solid 1px #e3e9ea;
    box-sizing: border-box;
}

#layout-sidebar .layout-menu > a.active-menuitem {
    /*background-color: #ffffff !important;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#layout-sidebar .layout-menu > a.active-menuitem > span {
    color: #1b82d7;
}

#layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-active {
    display: inline;
}

#layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-inactive {
    display: none;
}

#layout-sidebar .layout-menu > a:hover {
    background-color: #eeeeee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



#layout-sidebar .layout-menu > a span {
    color: #333333;
    font-size: 16px;
    margin: 0px 0px 0px 10px;
    display: block;
}
#layout-sidebar .layout-menu > a span:hover{
    color: #1b81d7;
}

#layout-sidebar .layout-menu > div {
    width: auto;
    min-width: 200px;
    border-top:1px solid #E5E5E5;
    padding: 0px 6px 6px 6px;
    overflow: hidden;
    background-color: #EEEEEE; /*控制子菜单的北京颜色*/
}

/*控制子菜单隐藏，过渡效果*/
#layout-sidebar .layout-menu > div.submenuhide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
     -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

/*控制子菜单显示，过渡效果*/
#layout-sidebar .layout-menu > div.submenushow {
       -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    max-height: 500px;
}

#layout-sidebar .layout-menu > div ul{
    padding-left: 10px;
    margin-top:2px;
}

#layout-sidebar .layout-menu > div li:hover{
        background-color: #fff;
}

#layout-sidebar .layout-menu > div li{
       width:auto;
       padding:6px 0 6px 0;
      
}

/*TODO:对a的宽度不起作用*/
#layout-sidebar .layout-menu > div a {
    width: 50%;   
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    color: #666;
    
}

#layout-sidebar .layout-menu > div a:hover {
    width:100%;
    color:#4591F3;
    
    background-color: #fff;
}

#layout-sidebar .layout-menu {
    overflow: auto;
    height: calc(100% - 70px);
}


#layout-content {
    margin-left: 300px;
    padding-top: 70px;
    margin-bottom: 100px;
    background-color: #ffffff;
}

    #layout-content {
        padding-top: 100px;
    }



/*当屏幕变小时，主页发生变化*/
@media screen and (max-width: 64em) {
    #layout-topbar {
        text-align: center;
    }
    
    #layout-topbar .menu-button {
        display: inline-block;
    }
    
    #layout-topbar .logo {
        margin: 7px 0 7px 0;

    }
    
    /*//TODO:*/
    .topbar-menu {
        background-color: #222222; 
        float: none;
        width: 100%;
        height: 40px;
        margin: 0;
        text-align: center;
    }
    
    .topbar-menu > li > a {
        padding-bottom: 0;
        line-height: 40px;
        min-width: 100px;
        color:#fff;
    }
    
    .topbar-menu > li.topbar-menu-themes > ul {
        top: 40px;
    }

       #layout-sidebar {
        top: 100px;
        left: -300px;
        transition: left .3s;  
        z-index: 999998;
    }
      #layout-sidebar.active {
        left: 0;
    }
     #layout-content {
        margin-left: 0;
        padding-top: 100px;
    }
    
    .topbar-menu > li.topbar-menu-themes > ul {
        text-align: left;
    }
}



.layout-footer {
    font-size: 14px;
    color: #84939f;
    bottom: 0;
    width:100%;
    text-align: center;

  
}
.footer-span{
    font-size: 16px;
    
}

.layout-footer .footer-links {
    float: right;
    font-size: 24px;
    margin-right: 40px;
    
}

.layout-footer .footer-links a {
    color: #000000;
    margin-left: 16px;
}

