<div class="top">
<view-select-top> </view-select-top>
</div>
<div class="container">
    <div class="row">

     <div class="form-group col-sm-8">
            <div class="input-group">
                <input type="text" class="form-control"   placeholder="请输入题干名称" [(ngModel)] ="condition">
                <div class="input-group-addon search_div" >搜索</div>
                <div class="input-group-addon export_div" >导出</div>
             
            </div>
           
        </div>
        <div class="table_div" *ngFor="let item of data">
            <p>{{item.questionContent}}</p> 
            <div class="inner_table_div">
                <p style="height:3px"></p>
            <table class="table table-condensed ">
                <thead>
                <th>
                   建议内容
                </th>
                
                </thead>
                <tr *ngFor="let option of item.suboptions">
                    <td title={{option.optionContent}}>
                        {{option.optionContent}}
                    </td>
                      
                </tr>
            </table>
            </div>
        </div>

   <div class="pagination">
            <ul>
                <li>
                    <select [ngModel]="pageSize" (ngModelChange)=" pageSize=$event;changePageSize()">
                        <option *ngFor="let item of sizeList" >{{item}}</option>  
                    </select>
                </li>
                <li><a (click)="topPage()">首页</a></li>
                <li *ngIf="page >1"><a (click)="previousPage()">上一页</a></li>
                <li *ngIf="page<totalPages"><a (click)="nextPage()">下一页</a></li>
                <li><a (click)="endPage()">尾页</a></li>
            </ul>
        </div>
        <div *ngIf=" page>0" class="pagination_right_div">
            <p><i>{{(page-1)*pageSize+1  }} </i>~<i> {{page*pageSize < total ? page*pageSize :total }} </i>条,总共<i>{{total}}条</i></p>
        </div>


        <!--row-->
    </div>
    <!--container-->
</div>