<div class="container">
    <h2 class="form-signin-heading" style="margin-left:120px;margin-bottom:20px;color:#0F0501;font-weight:bold;font-family:Arial">欢迎登陆</h2>
    <label for="inputUsername" style="width:10%;float:left;margin-bottom:20px;color:black;font-size:15px">用户名：</label>
    <div>
        <input autocomplete="off"  [(ngModel)]="userCode" class="form-control" value="Username" name="userCode" type="text" placeholder="请输入教工号" style="width:50%;margin-bottom:20px;background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
    </div>
    <label for="inputPassword" style="width:10%;float:left;color:black;font-size:18px">密码：</label>
    <div>
        <div>
            <input value="password" [(ngModel)]="password" class="form-control" name="password" type="password" placeholder="请输入密码" style="width:50%; background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto; ">
        </div>
    </div>
    <br>
    <div>
        <div class="signin">
            <button class="btn btn-lg btn-primary btn-block" style="width:40% ;margin-left:100px" type="submit" (click)="login()">{{buttonName}}</button>
        </div>
    </div>
</div>