*{
    font-size: 20px;
    font-family: '楷体';
}
div{
    border-top: 0px;
}


/* 改动模态框的位置 */
.com-dialog{
    margin-top:100px;
    margin-left:400px;
}

/* 改动模态框内容的大小 */
.body-div,.modal-content{
    width:1000px;
}
.body-div{
    height:500px;
    margin-top: 15px;
}

/* 改造自己的label */
.com-label{
    width:15%;
    float: left;
    margin-top: 5px;
}
.com-radio,.com-box{
    float: left;
    margin-left: 0px;
    margin-top:-4px;
    padding: 6px 12px;
    height:34px;
}
.com-input{
    width:70%;
}

select{
    border:1px solid #ccc;
    width:70%;
    height:35px;
}

/* 结果div的处理 */
.result_div{
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 300px;
    width:45%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    margin-bottom: 15px;
    text-indent:1em;
}

/* 遮挡div横线的span */
.com-span{
    position:relative;
    background-color:#FFFFFF;
    top:-15px;
    left: 30px;
}