<div class="container" *ngIf="data.length!=0 && total !=0">
    <div class="row">
        <div class="form-group col-sm-8">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="condition"  placeholder="/章节/题干">
                <div class="input-group-addon search_div" (click)="showData()">搜索</div>
            </div>
           
        </div>
        <table class="table table-bordered table-condensed ">
            <thead>
                <th> <input type="checkbox"> </th>
                <th *ngFor="let item of title">{{item}}</th>
            </thead>
            <tbody *ngFor="let item of data;let i = index">
                <tr>
                    <td><input type="checkbox"></td>
                    <td>
                        {{item['chapter']}}
                    </td>
                    <td>
                        {{item['diffcult']}}
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="item['score']">
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pagination">
            <ul>
                <li>
                    <select [ngModel]="pageSize" (ngModelChange)=" pageSize=$event;changePageSize()">
                        <option *ngFor="let item of sizeList" >{{item}}</option>  
                    </select>
                </li>
                <li><a (click)="topPage()">首页</a></li>
                <li *ngIf="page >1"><a (click)="previousPage()">上一页</a></li>
                <li *ngIf="page<totalPages"><a (click)="nextPage()">下一页</a></li>
                <li><a (click)="endPage()">尾页</a></li>
            </ul>
        </div>
        <div *ngIf=" page>0" class="pagination_right_div">
            <p><i>{{(page-1)*pageSize+1  }} </i>~<i> {{page*pageSize < total ? page*pageSize :total }} </i>条,总共<i>{{total}}条</i></p>
        </div>
    </div>
</div>

<button (click)="test()">点击</button>